.yt_ai_summary_container {
    background-color: #F2EDED;
    padding: 0;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 14px;
}

.yt_ai_summary_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    background-color: #FC7D00;
    color: #fff;
    padding: 7px 15px 7px 15px;
    border-radius: 10px;
}

.yt_ai_summary_header .yt-logo {
    position: relative;
    top: 2px;
}

.yt_ai_summary_header_actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.yt_ai_summary_loading {
    animation: rotation 0.5s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.yt_ai_summary_header_action_btn {
    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 50%;
}

.yt_ai_summary_header_hover_label {
    position: relative;
    top: 6px;
    left: -35px;
    padding: 5px 8px;
    background-color: #030303;
    color: white;
    width: fit-content;
    border-radius: 3px;
    opacity: 0.85;
    white-space: nowrap;
    font-size: 11px;
    text-align: center;
    user-select: none;
}

.yt_ai_summary_icon:hover {

}

.yt_ai_summary_icon:active {

}

.yt_ai_summary_header_action_btn:hover {
    background-color: #F75300;
    transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1) 0s;
}

.yt_ai_summary_header_action_btn:active {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1) 0s;
}

#yt_ai_summary_header_copy, #yt_ai_summary_header_track, #yt_ai_summary_header_summary, #yt_ai_summary_header_track {
    /* visibility: hidden; */
    display: none;
}

.yt_ai_summary_header_icon_show {
    /* visibility: visible !important; */
    display: block !important;
}

.yt_ai_summary_header_toggle_rotate {
    transform: rotate(180deg);
}

.yt_ai_summary_body {
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 10px;
    display: none;
}

.yt_ai_summary_body_show {
    display: block;
}

.yt_ai_summary_text {
    padding: 12px;
    font-size: 14px;
    line-height: 1.2em;
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
    overflow-y: scroll;
    max-height: 500px;
}

.yt_ai_summary_lang_select {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
    padding-bottom: 8px;
    border: 0;
    font-size: 12px;
}

.yt_ai_summary_text::-webkit-scrollbar,
.yt_ai_summary_lang_select::-webkit-scrollbar {
    width: 6px;
    border-radius: 4px;
    background-color: #E5DFDF;
}

.yt_ai_summary_text::-webkit-scrollbar-track,
.yt_ai_summary_lang_select::-webkit-scrollbar-track {
    background: none;
}

.yt_ai_summary_text::-webkit-scrollbar-thumb,
.yt_ai_summary_lang_select::-webkit-scrollbar-thumb {
    background: #FC7D00;
    border-radius: 4px;
}

.yt_ai_summary_text::-webkit-scrollbar-thumb:hover,
.yt_ai_summary_lang_select::-webkit-scrollbar-thumb:hover {
    background: #FC7D00;
    border-radius: 4px;
}


.yt_ai_summary_lang_select button {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 24px;
    padding: 6px 10px;
    background-color: #DFDFDF;
    white-space: nowrap;
    min-width: fit-content;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    border: none;
    color: #fff;
}

.yt_ai_summary_lang_select button:hover {

}

.yt_ai_summary_lange_selected {
    background-color: #C3B0B0 !important;
}

.yt_ai_summary_transcript_text_segment {
    display: flex;
    justify-content: left;
    align-items: baseline;
    gap: 0;
    margin: 0 0 16px;
    grid-template-columns: auto auto;
    font-size: 14px;
}

.yt_ai_summary_transcript_text_timestamp {
    color:#065fd4;
    text-decoration: none;
    cursor: pointer;
    margin-right: 16px;
    font-size: 14px;
}

